# Ignore everything by default
/*

# whitelist custom tools and containers
!/scripts/
!/containers/

# --- PRIVACY: Ignore the Caddyfile ---
# This file contains private IPs for whitelisting
**/caddy/Caddyfile

# --- DATA: Ignore heavy/dynamic files ---
**/caddy_data/
**/caddy_config/
**/uptime-kuma/data/
**/crafty/docker/import/
**/crafty/docker/backups/
**/crafty/docker/logs/
**/crafty/docker/servers/

# General binary/log data
**/*.log
**/*.db
**/*.sqlite
.DS_Store
