services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: kuma
    restart: always
    networks:
      - caddy_net
    volumes:
      - uptime_kuma_data:/app/data

networks:
  caddy_net:
    external: true

volumes:
  uptime_kuma_data: