services:
  db:
    image: postgres:16-alpine
    container_name: wiki-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
    networks:
      - caddy_net
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  wiki:
    image: ghcr.io/requarks/wiki:2
    container_name: wiki
    depends_on:
      - db
    environment:
      DB_TYPE: postgres
      DB_HOST: wiki-db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASS: ${ADMIN_PASS}
    restart: always
    networks:
      - caddy_net
    volumes:
      - /home/debian/.ssh/id_ed25519:/wiki/data/id_rsa:ro

networks:
  caddy_net:
    external: true
